<ion-content class="signup-screen" fullscreen>
  <div class="header">
    <h1>SitMypet</h1>
  <div class="signup-container">
    <p class="subtitle">Leur bonheur, notre priorité</p>

    <div class="form-group icon-right">
      <input type="email" placeholder="Adresse e-mail" />
      <div class="icon-container">
      <ion-icon name="mail-outline"></ion-icon>
      </div>
    </div>
    <div class="form-group icon-left">
      <div class="icon-container">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </div>
      <input type="password" placeholder="Mot de passe" />
    </div>
    
  </div>

  <ion-button routerLink="/dashboard" expand="block" class="signup-button">Se Connecter </ion-button>

  <p class="register-text">
    Don't have an account?
    <a routerLink="/signup" class="register-link">Register!</a>    </p>
</div>
</ion-content>

