<ion-content class="dashboard" fullscreen>
<ion-header class="custom-header">
  <div class="header-top">
    <h2>Bienvenue <ion-icon name="paw-outline"></ion-icon></h2>
    <ion-icon name="notifications-outline" class="notif-icon"></ion-icon>
  </div>
  <div class="welcome-banner">
    <h1>SitMyPet</h1>
    <p>Votre compagnon est entre de bonnes mains.</p>
  </div>
</ion-header>


<ion-content class="dashboard-content">
  <div class="article-section">
     
  </div>
</ion-content>


<ion-footer class="custom-footer">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="chat" (click)="navigateTo('/find-sitter')">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="calendar" (click)="navigateTo('/pets')">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-tab-button>
<!--
        <ion-tab-button tab="notif" (click)="navigateTo('/notifications')">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-tab-button>
--->
        <ion-tab-button tab="profile" (click)="navigateTo('/gardien-profil')">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

</ion-content>