@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

:host {
  font-family: 'Quicksand', sans-serif;
  
}
.dashboard{
   --background: #fdfaf5;
}
.custom-header {
  background-color: #1dd1a1;
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  text-align: center;

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 18px;
      font-weight: bold;
      margin: 0;

      ion-icon {
        font-size: 20px;
        margin-left: 6px;
        vertical-align: middle;
        color: #fab820;

      }
    }

    .notif-icon {
      font-size: 22px;
      color: #fab820;
    }
  }

  .welcome-banner {
    margin-top: 10px;

    h1 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      opacity: 0.9;
    }
  }
}

.custom-footer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;

  ion-toolbar {
    --background: #1dd1a1;
    padding-bottom: env(safe-area-inset-bottom);
  }

  ion-tab-bar {
    background: transparent;

    ion-tab-button {
      --color: white;
      --color-selected: #fab820;

      ion-icon {
        font-size: 22px;
      }
    }
  }
}



.dashboard-content {
  --background: #fdfaf5;
  padding: 20px 16px;
}

.article-section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  ion-card {

    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);

    ion-card-header {
      display: flex;
      align-items: center;
      gap: 12px;

      ion-card-title {
        font-size: 16px;
        font-weight: 700;
        color: #1dd1a1;
      }

      .article-icon {
        font-size: 24px;
        color: #fab820;
      }
    }

    ion-card-content {
      font-size: 14px;
      color: #444;
      padding: 4px 8px 8px 4px;
    }
  }
}
