<ion-content class="dashboard" fullscreen>
  <!-- Header -->
  <ion-header class="custom-header">
    <div class="header-top">
      <h2>Bienvenue <ion-icon name="paw-outline"></ion-icon></h2>
      <ion-icon name="notifications-outline" class="notif-icon"></ion-icon>
    </div>
    <div class="welcome-banner">
      <h1>SitMyPet</h1>
      <p>Votre compagnon est entre de bonnes mains.</p>
    </div>
  </ion-header>


  <!-- Footer -->
  <ion-footer class="custom-footer">
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="chat" (click)="navigateTo('/form-searchsitter')">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="add" (click)="navigateTo('/pets')">
            <ion-icon name="paw-outline"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="profile" (click)="navigateTo('/petowner-profil')">
            <ion-icon name="person-outline"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
</ion-content>
