<ion-content class="signup-screen" fullscreen>
  <div class="mobile-wrapper">
    <div class="header">
      <h1>SitMypet</h1>
    </div>
    
    <div class="signup-container">
    <p class="subtitle"> Le bonheur de vos animaux est notre priorité. </p>
      <!-- Nom de l'utilisateur -->
      <div class="form-group icon-left">
        <div class="icon-container">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <input type="text" placeholder="Nom de l'utilisateur" />
      </div>
      <!-- Email -->
      <div class="form-group icon-right">
        <input type="email" placeholder="Adresse e-mail" />
        <div class="icon-container">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
      </div>
      <!-- Mot de passe -->
      <div class="form-group icon-left">
        <div class="icon-container">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>
        <input type="password" placeholder="Mot de passe" />
      </div>

  <ion-button  routerLink="/login" expand="block" class="signup-button">Envoyer</ion-button>

  </div>
  </div>
</ion-content>
